<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation defaultLanguage="c#" debug="false" targetFramework="4.6.2">
      <assemblies>
        <add assembly="MySite.Foundation.CM, Version=4.0.0.0, Culture=neutral, PublicKeyToken=45DF42FAAD375E14" xdt:Transform="Insert" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>